@model BlogInsecure.Models.BlogPostDetailViewModel

@{
    ViewData["Title"] = "BlogPostDetail";
}

<form method="post" class="loginForm">
    <div>
        <h4>Blog Post Detail</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>
        </dl>
    </div>
    <div>
        <div class="form-group">
            <label asp-for="Comment"></label>
            <input asp-for="Comment" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" class="form-control" value="Submit">Add Comment</button>
        </div>
        <a asp-action="BlogPosts">Back to List</a>
    </div>
</form>