@model BlogInsecure.Models.BlogPostListViewModel

@{
    ViewData["Title"] = "BlogPosts";
}

<h2>BlogPosts</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BlogPosts) {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @Html.ActionLink("Details", "BlogPostDetail", new { blogPostId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
